.main-div-color{
    background-color: lightgray;
}
.text-container-color-1{
    background-color: red;
}
.text-container-color-2{
    background-color: orange;
}
.text-container-color-3{
    background-color: yellow;
}
.text-container-color-4{
    background-color: green;
}
.text-container-color-5{
    background-color: cyan;
}
.text-container-color-6{
    background-color: blue;
}
.text-container-color-7{
    background-color: purple;
}
.formula-color{
    background-color: lightblue;
}
.fraction-color{
    background-color: lightyellow;
}
.numerator-color{
    background-color: lightgray;
}
.denominator-color{
    background-color: lightgray;
}
.super-sub-script-color{
    background-color: lightyellow;
}
.super-script-color{
    background-color: lightgray;
}
.sub-script-color{
    background-color: lightgray;
}